@page{
	size:landscape;
}

table{
	page:rotated;
}

th.sqltabhead{
	text-align:center;
	background-color:#999999;
}

th.side_header{
	background-color:#DDDDDD;
}

.sqltable{
	width:100%;
	font-size:7pt;

}

.sqllist{
	
}

.sqllistelementcaption{
	font-weight:bold;
	font-size:1.3em;
	text-align:center;
	padding-bottom:1em;
}

.sqlbutton{
	display:none;
}

.sqlhref{
	display:none;
}



.sqlsumline{
	font-weight:bold;
	text-align:right;
}


.sqlsumline{
	font-weight:bold;
	text-align:right;
}

.sqltabhead{
	text-align:left;
}

.sqltabheadaction{
	display:none;
}

.sqldevider{
	color:#FF0000;
/*	background-color:#FF0000;*/
	height:1px;	
}

.sqltabevenline{
	background-color:#FFFFFF;
}

.sqltabunevenline{
	background-color:#DDDDDD;
}

.sqltabevenaddline{
	background-color:#FFFFFF;
	font-weight:bold;
	page-break-after:always;
}

.sqltabunevenaddline{
	background-color:#DDDDDD;
	font-weight:bold;	
}
	
	
.breakhere{
	page-break-after:always;
}