th.sqltabhead{
	text-align:center;
	background-color:#999999;
}

th.side_header{
	background-color:#DDDDDD;
}

.sqltable{

	font-size:0.8em;
}

.sqllist{
	
}

.sqllistelementcaption{
	font-weight:bold;
	font-size:1.3em;
	text-align:center;
	padding-bottom:1em;
}

.sqlbutton{
	width:6em;
}

.sqlhref{
	color:#0000FF;
	text-decoration:none;
}

.sqlhref:hover {
	color:#FF0000;
	text-decoration:underline;
}


.sqlsumline{
	font-weight:bold;
	text-align:right;
}

.sqltabhead{
	text-align:left;
}

.sqltabheadaction{

}

.sqldevider{
	color:#FF0000;
/*	background-color:#FF0000;*/
	height:1px;	
}

.sqltabevenline{
	background-color:#FFFFFF;
}

.sqltabunevenline{
	background-color:#DDDDDD;
}

.sqltabevenaddline{
	background-color:#FFFFFF;
	font-weight:bold;
}

.sqltabunevenaddline{
	background-color:#DDDDDD;
	font-weight:bold;	
}

/****************************************************/
/* Style for extra line manually set in reports.php */
/****************************************************/

.sql_extra_line_number{
	font-weight:bold;
	text-align:right;
}

.sql_extra_line_text{
	font-weight:bold;
	text-align:left;
}
	